.newSurveyCreatingPage {
  background-color: #ddd;
  min-height: calc(100vh - 150px);
  padding-bottom: 100px;
}

.surveyTitle {
  font-weight: 600;
  padding: 8px;
  text-align: center;
}

.pageTitle {
  margin-left: 40px;
}

.formWrapper {
  display: flex;
  margin: 20px;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.errorMessage {
  color: red;
  font-size: 20px;
  margin-top: 12px;
}

.optionWrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  margin: 0 auto 20px;
}

.option {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
  align-items: flex-start;
}

.optionInputWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 12px;
}

.image {
  width: 30%;
  height: auto;
  min-height: 100px;
  max-height: 200px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

input[type='radio'] {
  display: none;
}

.typeWrapper {
  display: flex;
  justify-content: space-between;
}

.typeCard {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  border: 1px solid gray;
  padding: 8px;
}

.typeDescription {
  font-weight: 400;
  font-size: 0.8em;
}

.typeTitle {
  height: 30%;
  text-align: center;
  font-weight: 400;
}

input[type='radio']:checked + label {
  border: 2px solid green;
}

button[type='submit'],
input[type='file'],
input[type='checkbox'] + label {
  cursor: pointer;
}

.allowExtraOption {
  margin: 20px 0;
}
.buttonSubmit,
.buttonAddOption {
  margin: 0 auto;
}

.buttonDelete {
  height: fit-content;
}

.buttonImageDelete {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  border-radius: 0;
  width: fit-content;
  height: auto;
  min-height: unset;
  padding: 4px;
}

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.message {
  text-align: left;
  font-size: 40px;
  margin: 40px 0 0 40px;
}