.containerHome {
  display: flex;
  align-items: center;
}

.containerLeft, .containerRight {
  width: 50%;
}

.containerLeft {
  padding-right: 10%;
}

.containerLeft h1 {
  font-size: 50px;
  margin: 0;
}

.containerRight {
  border-radius: 50%;
  background-color: rgb(211, 137, 0);
  position: relative;
  z-index: 0;
}

.containerRight img {
  object-fit: contain;
  width: 100%;
}

.containerRight::after {
  content: '';
  height: 45%;
  background-color: white;
  position: absolute;
  right: 12%;
  bottom: 10%;
  left: 20%;
  border-radius: 50%;
  z-index: -1;
}

.button {
  margin-top: 30px;
}